
body {
    margin: 50px;
}

@page {
    size: A4;
    margin: 0;
}

h1, h2, h3, p {
    margin: 0;
}

.inline-middle {
    display: inline-block;
    vertical-align: middle;
}

.inline-middle-fs-0 {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}

.inline {
    display: inline-block;
    vertical-align: top;
}

.left {
    width: 230px;
    background-color: red;
    padding: 20px;
}

.right-border {
    width: 383px;
    background-color: green;
    border-left: blue solid 10px;
    padding: 15px;
}

.border-bottom {
    border-bottom: blue solid 10px;
}

.div1 {
    display: inline-block;
    width: 100px;
    background-color: red;
    margin: 0;
    padding: 0;
    border-width: 0;
}

.div2 {
    display: inline-block;
    width: 593px;
    background-color: green;
    margin: 0;
    padding: 0;
    border-width: 0;
}

.image-style {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}