<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Curriculum Vitae</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>

<h1>Mon titre</h1>
<h3 class="text-right" th:text="${cv.name}"></h3>
<h2>Sous titre</h2>
<p>Salut toi</p>

<div th:each="experience : ${cv.experiences}">
    <div th:text="${experience.title}"></div>
    <div th:text="${experience.society}"></div>
    <div th:text="${experience.location}"></div>
</div>



</body>
</html>