<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Curriculum Vitae</title>
    <link th:if="${type == 'html'}" rel="stylesheet" href="/css/styles.css"/>
    <link th:if="${type == 'pdf'}" rel="stylesheet" href="css/styles.css"/>
</head>

<!--page-size=793px-->

<body>

<div class="container">

    <div class="border-bottom">
        <div class="inline-middle-fs-0 left">
            <img class="image-style" th:src="|data:image/png;base64,${image}|" alt="image"/>
        </div><div class="inline-middle right">
            <h1 th:text="${cv.person.firstName.toUpperCase()}"></h1>
            <h1 th:text="${cv.person.lastName.toUpperCase()}"></h1>
            <h2 th:text="${cv.person.job.toUpperCase()}"></h2>
        </div>
    </div>

    <div>
        <div class="inline left mt-5px">
            <h3 class="text-right">COMPÉTENCES</h3>
            <div class="mb-3" th:each="skill : ${cv.skills}">
                <p class="text-right" th:text="${skill.name}"></p>
            </div>
            <h3 class="text-right mt-30px">INFORMATIONS</h3>
            <p class="text-right"><span th:text="${age}"></span> ans</p>
            <p class="text-right">Mobilité : <span th:text="${cv.information.mobility}"></span></p>
            <p class="text-right" th:text="${cv.information.phone}"></p>
            <p class="text-right" th:text="${cv.information.email}"></p>
            <p class="text-right"><a th:href="${cv.information.linkedIn}" th:text="${cv.information.linkedIn}"></a></p>
            <p class="text-right"><a th:href="${cv.information.gitHub}" th:text="${cv.information.gitHub}"></a></p>
        </div><div class="inline right-border mt-5px">

            <h3>PROFILE</h3>
            <p th:text="${cv.person.profile}"></p>

            <h3 th:if="${cv.experiences.size() > 1}" class="mt-30px">EXPÉRIENCES</h3>
            <h3 th:if="${cv.experiences.size() == 1}" class="mt-30px">EXPÉRIENCE</h3>
            <div class="mt-10px" th:each="experience : ${cv.experiences}">
                <strong th:text="${experience.society}"></strong><strong> - </strong><strong th:text="${experience.location}"></strong><strong> | </strong><strong th:text="${experience.year}"></strong>
                <p><span th:text="${experience.title}"></span> | <span th:text="${experience.duration}"></span><span> mois</span></p>
                <p class="new-line" th:text="${experience.description}"></p>
            </div>

            <h3 th:if="${cv.projects.size() > 1}" class="mt-30px">PROJETS</h3>
            <h3 th:if="${cv.projects.size() == 1}" class="mt-30px">PROJET</h3>
            <div class="mt-10px" th:each="project : ${cv.projects}">
                <strong th:text="${project.title}"></strong><strong> | </strong><strong th:text="${project.year}"></strong>
                <p class="new-line" th:text="${project.description}"></p>
                <p><a class="text-right" th:href="${project.site}" th:text="${project.site}"></a></p>
                <p><a class="text-right" th:href="${project.gitHub}" th:text="${project.gitHub}"></a></p>
            </div>

            <h3 th:if="${cv.formations.size() > 1}" class="mt-30px">FORMATIONS</h3>
            <h3 th:if="${cv.formations.size() == 1}" class="mt-30px">FORMATION</h3>
            <div class="mt-10px" th:each="formation : ${cv.formations}">
                <strong th:text="${formation.title}"></strong><strong> | </strong><strong th:text="${formation.year}"></strong>
                <p><span th:text="${formation.school}"></span> - <span th:text="${formation.location}"></span></p>
                <p><span th:text="${formation.duration}"></span><span> mois</span></p>
                <p class="new-line" th:text="${formation.result}"></p>
            </div>

        </div>
    </div>

</div>

</body>
</html>